---
layout: default
permalink: /activities/
nav: activities
---
<section class="page-section bg-light" id="mission">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h2 class=" mt-0 text-center">Past Activities</h2>
            <hr class="divider" />
        </div>
        <div class="blog-home2">
            <div class="container">
                <div class="row mt-4 justify-content-center">
                    {% for activity in site.data.activities %}
                    <div class="col-md-4 on-hover">
                        <a data-bs-toggle="modal" data-bs-target="#{{ activity.id }}">
                            <div class="card border-0 mb-4">
                                <img class="card-img-top" src="{{ activity.image }}" alt="wrappixel kit">
                                <div class="container px-4 px-lg-5">
                                    <br>
                                    <h4 class="text-primary">{{ activity.card_title }}</h4>
                                    <br>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
{% for activity in site.data.activities %}
<div class="modal fade" id="{{ activity.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ activity.id }}title"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{ activity.id }}title">{{ activity.modal_title }}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ activity.body }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}
