---
layout: default
permalink: /events/
nav: events
---
<section class="page-section bg-light" id="mission">
    <div class="container px-4 px-lg-5">
        {% for group in site.data.events %}
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <h2 class=" mt-0 text-center">{{ group.title }}</h2>
            <hr class="divider" />
        </div>
        <div class="blog-home2">
            <div class="container">
                <div class="row mt-4 justify-content-center">
                    {% for event in group.events %}
                    <div class="col-md-4 on-hover">
                        <div class="card border-0 mb-4">
                            <img class="card-img-top" src="{{ event.image }}" alt="wrappixel kit">
                            <div class="date-pos bg-info-gradiant p-2 d-inline-block text-center rounded text-white position-absolute">{{ event.month }}<span class="d-block">{{ event.day }}</span></div>
                            <div class="container px-4 px-lg-5">
                                <br>
                                <h4 class="text-primary">{{ event.name }}</h4>
                                <p class="mt-3">{{ event.time }}</p>
                                <p class="mt-3">{{ event.address }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
